body {
    /* style background */
    background: rgb(176, 149, 30);
}

#map {
    /* Center the map */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* style the map */
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    gap: 1px;
    width: 500px;
    height: 500px;
}

.cell {
    /* style cell of the map */
    width: 50px;
    height: 50px;
    background-size: cover;
}

.button {
    display: inline-block;
    position: absolute;
    right: 30px;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {background-color: darkred}

.button:active {
    background-color: darkred;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
